@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

// FONTS
$primaryFont: "Poppins", sans-serif;

// COLORS
$primaryColor: #009eaf;
$secondaryColor: #008999;
$tertiaryColor: #10c7db;
$textColor: #08262a;

$errorColor: #ef5924;
$successColor: #219653;
$pendingColor: #f6d240;

@function opacityColor($color, $alpha) {
  @return rgba(red($color), green($color), blue($color), $alpha);
}

// borders and border-radius
$borderColor: #82c0c7;

$primaryBorder: 1px solid $borderColor;
$primaryBorderRadius: 5px;

// buttons gradients

$background: radial-gradient(
      52.73% 52.73% at 30.75% 100%,
      rgba(16, 199, 219, 0.2) 24.03%,
      rgba(216, 78, 91, 0) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
  linear-gradient(
    262.7deg,
    rgba(16, 199, 219, 0.2) 8.09%,
    rgba(16, 199, 219, 0.2) 15.31%,
    rgba(16, 199, 219, 0.2) 28.29%,
    rgba(16, 199, 219, 0) 72.76%
  ),
  linear-gradient(
    263.72deg,
    rgba(16, 199, 219, 0.2) 16.36%,
    rgba(16, 199, 219, 0) 50.14%
  ),
  linear-gradient(
    93.2deg,
    rgba(16, 199, 219, 0.2) 16.07%,
    rgba(216, 78, 91, 0) 79.56%
  ),
  #10c7db;
$box-shadow: 0px 7px 20px rgba(50, 30, 51, 0.14);
