@import "../../styles/mixins";
@import "../../styles/variables";

.layout-container {
  height: 100%;
  gap: 30px;
  @include flex(column);

  main {
    flex-grow: 1;
    height: 100%;
    overflow-y: hidden;

    .outlet-main-container {
      margin-top: 8px;
      margin-bottom: 10px;
      overflow-y: auto;

      &::-webkit-scrollbar-track {
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        display: none;
      }
    }

    .button-active {
      background: $background;
      color: white;
      border: 1px solid $tertiaryColor;
      font-weight: 700;
    }
  }
}
