@import "../../styles/mixins";
@import "../../styles/variables";

.transanctions {
  margin-top: 30px;
  h3 {
    font-size: 20px;
  }
  .transanctions-main-wrapper {
    @include flex(row, space-between, center);
    @media (max-width: 800px) {
      flex-direction: column;
    }
    .transanctions-pie-chart {
    }
    .transanctions-indicators {
      max-width: 450px;
      width: 450px;
      @include flex(row, "", center);
      gap: 10px;
      flex-wrap: wrap;
      @media (max-width: 800px) {
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 100%;
        max-width: 100%;
        padding-bottom: 5px;
      }
      .transanction-indicator {
        @include flex(row, space-between, center);
        flex: 0 0 48%;
        gap: 5px;

        .color-status {
          @include flex(row, "", center);
          gap: 5px;
          .color-box {
            height: 17px;
            width: 17px;
            border-radius: $primaryBorderRadius;
          }
        }
        h2 {
          margin-left: 20px;
          padding-right: 5px;
        }
        background-color: opacityColor($secondaryColor, 0.1);
        padding: 15px;
        border-radius: $primaryBorderRadius;
      }
    }
  }
}
