@import "../../styles/mixins";
@import "../../styles/variables";

.auth-container {
  height: 100vh;
  @media (max-width: 800px) {
    margin-inline: 10px;
  }
  @include flex(column, center, center);

  .auth-logo {
    height: 60px;
    width: 60px;
    object-fit: cover;
  }

  .auth-main-container {
    width: 100%;
    margin-top: 50px;
    @include flex(column, "", center);
    gap: 10px;
    h2 {
      margin-bottom: 10px;
      font-weight: 600;
      color: #000;
    }

    p {
      span {
        color: $tertiaryColor;
      }
    }

    .form-group {
      width: 100%;
      label {
        @include flex(row, "", center);
        gap: 10px;
        margin-bottom: 5px;
        font-weight: 700;
        font-size: 14px;
      }
    }

    .primary-color-input-container {
      width: 100%;
      border: $primaryBorder;
      border-radius: $primaryBorderRadius;
      padding-left: 16px;
      @include flex(row, "", center);
      .primary-color-input {
        border: none;
        outline: none;
        padding-left: 4px;
        width: 90%;
      }
      .box-color {
        height: 39px;
        width: 39px;
        background-color: $primaryColor;
        border-radius: $primaryBorderRadius;
        margin-right: 8px;
      }
    }

    .auth-inputs {
      width: 35%;
      @include flex(column, "", center);
      gap: 15px;
      @media (max-width: 800px) {
        width: 100%;
      }
      h4 {
        align-self: flex-end;
        transform: translateY(-5px);
        color: $tertiaryColor;
        &:hover {
          color: $primaryColor;
        }
      }
    }
    .auth-button {
      margin-top: 6vh;
      width: 14%;
      @media (max-width: 800px) {
        width: 100%;
      }
    }
  }
}

@media (max-width: 800px) {
  /* mobile devices */
  .auth-container {
    .container {
      padding: 15px;
      min-width: 100%;
      .auth-main-container {
        padding: 10px 40px 40px 40px;
      }
    }
  }
}

@media (min-width: 580px) and (max-width: 991px) {
  /* medium devices */
  .auth-container {
    .container {
      min-width: 80%;
    }
  }
}
